#logo {
    margin-top: 30px;
    margin-bottom: 30px;
}
#contact {
    background-color: #FAFAFA;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.social-footer {
    font-size: 40px;
}